<app-header></app-header>
<div class="body-container">
  <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 photo-ripped animated fadeIn">
          <div class="overlay">
            <div class="col-md-8 offset-md-2 text-center transparent-bg">
              <div class="text-container animated slideInUp">
                <!-- <h3>Ripped Clothes?</h3> -->
                <div class="underline-black"></div>
                <p class="hero-text"> Its no news the Big city has got us living life fast . let's help you match up speed at ease. Clothes don't fit proper ? Ooops !! Need to be stitched?
                  Obiomaonline.com.ng Your virtual  tailor , the best there is will take the load off. Lets solve that little problem for you and because its little We will do it for a fee as such.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-button text-center animated bou">
        <a routerLink="booking"> PLACE AN ORDER</a>
    </div>
  </div>
  <!-- <div class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 photo-loose animated fadeInDown">
    
        </div>
        <div class="col-md-6 black-bg">
          <div class="text-container animated slideInUp">
            <h3>Loose Fits?</h3>
            <div class="underline-white"></div>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
          </div>
        </div>
      </div>
    </div> -->
  <!-- </div> -->

  <div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div>
                    <p class="testimonial">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                    <div class="carousel-underline"></div>
                    <p class="testimonial-meta">Luctus Pulvinar</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div>
                    <p class="testimonial">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                    <div class="carousel-underline"></div>
                    <p class="testimonial-meta">Luctus Pulvinar</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div>
                    <p class="testimonial">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>
                    <div class="carousel-underline"></div>
                    <p class="testimonial-meta">Luctus Pulvinar</p>                
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>