<header class="animated fadeInDown">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a routerLink="">
          <img src="../../assets/img/obioma-logo-with-text.png">
        </a>
      </div>
      <div class="col-md-9">
        <ul class="nav justify-content-end">
          <!-- <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="#">TERMS & CONDITIONS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="../contact" routerLinkActive="active">CONTACT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link order" routerLink="booking">PLACE AN ORDER</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>